*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: purple;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    flex-direction: column;
}
.parent h2 {
    color: black;
    text-align: center;
    background-color: purple;
    padding: 10px;
    font-size: 25px;
}
.parent form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 15px;
    background-color: purple;
}
.parent form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
}
.parent form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.parent form button:hover {
    background-color: #333;
}